@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Background color */
  --foreground: #000000; /* Text color */
}

/* Apply global font styles */
html {
  font-family: var(--font-poppins), sans-serif;
  scroll-behavior: smooth;
}

body {
  @apply antialiased; /* Improve text rendering */
  background-color: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply m-0; /* Remove default margins */
  font-family: var(--font-poppins), sans-serif;
  letter-spacing: 0.5px;
}

/* Specific heading styles */
h1 {
  @apply text-5xl font-bold leading-tight; /* Customize as needed */
}

h2 {
  @apply text-3xl font-medium leading-snug; /* Customize as needed */
}

h3 {
  @apply text-2xl font-semibold leading-snug; /* Customize as needed */
}

p {
  @apply font-bold text-lg;
  font-family: var(--font-jura), sans-serif;
}

li,
span {
  font-family: var(--font-jura), sans-serif;
}

/* Custom styles for logo */
.logo {
  font-family: var(--font-just-another-hand), cursive;
}

/* Center content in the container */
.container-1120 {
  @apply mx-auto px-4; /* Center and add padding */
  max-width: 1200px;
  scroll-margin: 100px;
}

/* Navigation styles */
.navigation-item a {
  @apply text-black hover:text-gray-600 transition-colors duration-300 relative;
}

.navigation-item a span {
  @apply absolute left-0 -bottom-1 w-0 h-1 bg-black transition-all duration-300;
}

/* Shape styles */
.circle {
  @apply rounded-full bg-red-500 w-32 h-32;
}

.triangle {
  @apply bg-transparent w-32 h-32;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: #22c55e; /* Tailwind doesn't support this directly */
}

.rectangle {
  @apply bg-blue-400 w-64 h-32 rounded-xl;
}

.line {
  @apply bg-yellow-400 w-64 h-5 rounded-xl;
}

.square {
  @apply bg-purple-400 w-32 h-32 rounded-xl;
}

/* Ensure shapes are above the background but below UI elements */
.shapes-container {
  z-index: 10; /* Adjust as needed */
}
